<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:#d0d0d0;
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: #d0d0d0;
      }
    </style>
    <ul class="link">
      {%- for platform in site.sidebar %}
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
       <li><a href="{{ platform.link }}" style="color:#75b5aa;">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
      {%- endfor %}
    </ul>
  </div>
